<!DOCTYPE html>
<html>
        <head>
            	<link rel="stylesheet" href="css/base.css">
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width">
                <title></title>
        </head>
        <body>
        		<nav>
        		<a href="/">Home</a> |
        		<a href="/plan">Plan</a> |
        		<a href="/today">Today</a>
        		</nav>
                {{{body}}} 
        </body>
</html>