<br><h1>Day Overview</h1></br>

<div class="col-lg-6">

	<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
	<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

	<div class="ct-chart ct-perfect-fourth"></div>
	<script src="js/chart.js"></script> 

</div>

<div class="col-xs-6">
	<table class="table table-striped">
	   <thead>
	   <tr>
		  <th>
		  <button type="button" class="btn btn-success">✓</button>
		  </th>
	   </tr>
	   </thead>
	  <tbody>
	  	{{#each dTasks}}
	    <tr class="done">
			<td>{{this.info}}</td>
	    </tr>
	    {{/each}}
	  </tbody>
	</table>
</div>

<div class="col-xs-6">
	<table class="table table-striped">
	   <thead>
	   <tr>
		  <th>
		  <button type="button" class="btn btn-danger">✖</button>
		  </th>
	   </tr>
	   </thead>
	  <tbody>
	  	{{#each nTasks}}
	    <tr class="not">
			<td>{{this.info}}</td>
	    </tr>
	    {{/each}}
	  </tbody>
	</table>
</div>

