<br><h1>Day Overview</h1></br>

<div class="col-xs-6">
	<table class="table table-striped">
	   <thead>
	   <tr>
		  <th>
		  <button type="button" class="btn btn-success">✓</button>
		  </th>
	   </tr>
	   </thead>
	  <tbody>
	  	{{#each dTasks}}
	    <tr>
			<td>{{this.info}}</td>
	    </tr>
	    {{/each}}
	  </tbody>
	</table>
</div>

<div class="col-xs-6">
	<table class="table table-striped">
	   <thead>
	   <tr>
		  <th>
		  <button type="button" class="btn btn-danger">✖</button>
		  </th>
	   </tr>
	   </thead>
	  <tbody>
	  	{{#each nTasks}}
	    <tr>
			<td>{{this.info}}</td>
	    </tr>
	    {{/each}}
	  </tbody>
	</table>
</div>



