<br><h1>Plan</h1>

<table class="table table-striped">
   <thead>
   <tr>
	  <th></th>
	  <th><i>Reward</i></th>
   </tr>
   </thead>
  <tbody>
  	{{#each task}}
    <tr>
		<td>{{this.info}}</td>
		<td>{{this.reward}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<br>
<form method="POST" action="/plan">
  	Info: <input type="text" name="info"> 
  	Reward: 
  	<select id="reward" name="reward">
	   <option selected value="-">none</option>
	   <option value="Starbucks">Starbucks</option>
  	 <option value="Boba">Boba</option>

      {{#each rewards}}

        <option values={{info}}>{{info}}</option value>
      {{/each}}

	</select>
    <input type="submit" class="btn btn-info" value="Add Task">
    <a class="btn btn-outline-primary" href="/reward" role="button">Manage Rewards</a>
</form>
</br>

<a class="btn btn-primary" href="/today" role="button">Done</a>

</br>


<script src="js/validateTask.js"></script>