<br><h1>Plan</h1>

<br>

{{#each task}}
	<br>
	<b>{{this.info}}</b>
	Reward: {{this.reward}}
	</br>
{{/each}}

<script src="javascripts/reward.js"></script>

<br>
<form method="POST" action="/plan">
  	Info: <input type="text" name="info"> 
  	Reward: 
  	<select id="reward" name="reward">
	 <option selected value="-">none</option>
	 <option value="starbucks">Starbucks</option>
  	 <option value="tea">Tea</option>
	</select>
    <input type="submit" value="Add Task">
</form>
</br>

<button class="add" type="reward">Other</button>
</br>