<br><h1>Today</h1></br>


	<br>

<table class="table table-striped">
   <thead>
   <tr>
	  <th></th>
	  <th>Done?</th>
   </tr>
   </thead>
  <tbody>
    {{#each dTasks}}
    <tr>
      <td>{{this.info}}</td>
      <td><i>{{this.reward}} earned</i></td>
    </tr>
    {{/each}}
  	{{#each qTasks}}
    <tr>
    	<td>{{this.info}}</td>
		<form method="POST" action="/today">
			<input type="hidden" name="info" value={{this.info}}>
			<td><input type="submit" name="submit" class="btn btn-success" value="✓"></td>
		</form>
    </tr>
    {{/each}}
  </tbody>
</table>


<a class="btn btn-warning" href="/plan" role="button">Plan</a>
<a class="btn btn-warning" href="/overview" role="button">End Day</a>

