<br><h1>Today</h1></br>


{{#each task}}
	<br>
	<b>{{this.info}}</b>
	Reward: {{this.reward}}

<form method="POST" action="/today">
	<input type="hidden" name="info" value={{this.info}}>
    <input type="submit" value="✓">
</form></br>
{{/each}}
