* {
	font-family: "verdana", Serif;
	background-color: lightsalmon;
	margin-left: 10px;
	display: inline-block;
}

.add{
	position: relative;
	left: 400px;
}

.input{
	position: relative;
	left: 200px;
	width: 200px;
}

.addButton{
	position: relative;
	float: right;
}

