*{
	background-color: lightsalmon;
}


body{
	background-color: lightsalmon;
	display: inline-block;	
}

nav{
	background-color: white;
	position: relative;
	left: 200px;
}

.add{
	position: relative;
	left: 400px;
}

.input{
	position: relative;
	left: 200px;
	width: 200px;
}

.addButton{
	position: relative;
	float: right;
}

